<div class="probootstrap-search" id="probootstrap-search">
  <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
  <form action="#">
    <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
  </form>
</div>

<div class="probootstrap-page-wrapper">
  
<section class="probootstrap-section probootstrap-section-colored">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-left section-heading probootstrap-animate">
          <h1>Nos Communautés</h1>
        </div>
      </div>
    </div>
</section>

<!-- Barre sticky -->
<div class="header">
  <div class="header-content">

    <!-- Champ recherche centré -->
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="onSearchChange()"
      placeholder="Rechercher une communauté"
      class="search-input"
    />

    <!-- Bouton +Create -->
    <button
      (click)="createCommunity()"
      class="create-btn"
    >
      + Create
    </button>
  </div>
</div>

<!-- Grille des communautés -->
<div class="container">
  <div class="grid">
    <div
      *ngFor="let c of filteredCommunities"
      class="community-item"
      (click)="goToCommunity(c.id)"
    >
      <div class="community-card">
        <figure class="community-img">
          <img
            *ngIf="c.imageUrl"
            [src]="c.imageUrl"
            alt="Image de la communauté"
            class="img-responsive"
          />
          <div *ngIf="!c.imageUrl" class="community-img-placeholder">
            Pas d’image
          </div>
        </figure>
        <div class="community-text">
          <h3>c/{{ c.name }}</h3>
          <p>
            {{ c.description.length > 15 ? (c.description.substring(0, 29) + '...') : c.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage === 1" class="page-btn prev-btn">
      &lt; Précédent
    </button>
    <span>{{ currentPage }} / {{ totalPages() }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages()" class="page-btn next-btn">
      Suivant &gt;
    </button>
  </div>
</div>
