.slider-area2 {
    background-image: url('/assets/img/blog/blog-post-3.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 95vh;
}.container.mt-5 {
    margin-top: 70px;  /* Réduit la marge par défaut, ajuste à ta convenance */
  }
  
  .card {
    margin-top: -180px;  /* Cela va "monter" la carte au-dessus de sa position initiale */
  }