<nav class="navbar navbar-default probootstrap-navbar">
  <div class="container" >
    <div class="navbar-header">
      <div class="btn-more js-btn-more visible-xs">
        <a ><i class="icon-dots-three-vertical "></i></a>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">GENIUS</a>
    </div>

    <div id="navbar-collapse" class="navbar-collapse collapse" >
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/teachers">Teachers</a></li>
        <li><a routerLink="/events">Events</a></li>
        <li><a class="active" routerLink="blogs">Blogs</a></li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Courses</a>
          <ul class="dropdown-menu">
            <li><a routerLink="/courses">Courses</a></li>
            <li><a routerLink="/course-single">Course Single</a></li>
          </ul>
        </li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        
        <!-- Profile icon (visible only if logged in) -->
        <li *ngIf="isLoggedIn()" class="profile-icon">
          <a (click)="goToProfile()" title="Profile">
            <i class="fa fa-user-circle fa-lg"></i>
          </a>
        </li>

        <!-- Join/Login buttons (visible only if not logged in) -->
        <li *ngIf="!isLoggedIn()" class="button-header margin-left">
          <a routerLink="/register" class="btn">Join</a>
        </li>
        <li *ngIf="!isLoggedIn()" class="button-header">
          <a routerLink="/login" class="btn btn3">Log in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
