<nav class="navbar navbar-default probootstrap-navbar">
  <div class="container">
    <div class="navbar-header">
      <div class="btn-more js-btn-more visible-xs">
        <button type="button" class="btn-more-toggle">
          <i class="icon-dots-three-vertical"></i>
        </button>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">GENIUS</a>
    </div>

    <div id="navbar-collapse" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/">Home</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="quiz">Quizzes</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="events">Events</a>
        </li>
        <li class="dropdown" routerLinkActive="active">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Courses <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active">
              <a routerLink="courses">Courses</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="course-single">Course Single</a>
            </li>
          </ul>
        </li>
        <li routerLinkActive="active">
          <a routerLink="about">About Us</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
